{% extends 'base.html' %}


{% block content %}
<p class="a">{{ account }} {{ account.get_category }}</p>
<p>Profil użytkownika</p>
<hr style="width: 30%; text-align: left; margin-left: 0; height: 2px; color: #9e9e9e; background-color: #9e9e9e;">

<i class="fa fa-map-marker"></i>
{{ account.province }}
<p class="b">Obecne punkty: {{ account.get_polish_rating }}</p>
<p class="b">Następny próg punktowy: {{ account.next_threshold }}</p>
<p class="b">Następna kategoria: {{ account.next_category }}</p>

<p style="font-size: 24px; padding-top: 20px;">Ranking FIDE</p>
<p style="font-size: 14px;">{{ account.fide_number|default_if_none:"" }}</p>
<table style="text-align: center;">
    <tr>
        <th style="padding-right: 20px;">Std</th>
        <th style="padding-right: 20px;">Rapid</th>
        <th>Blitz</th>
    </tr>

    <tr>
        <td style="padding-right: 20px">{{ account.fide.classic }}</td>
        <td style="padding-right: 20px">{{ account.fide.rapid }}</td>
        <td style="padding-right: 20px">{{ account.fide.blitz }}</td>
    </tr>
</table>

<p style="font-size: 24px; padding-top: 20px;">Ranking PZSzach</p>
{% if titles %}
    <table>
        <tr>
            <th>Kategoria</th>
            <th>Data zdobycia</th>
            <th>Turniej</th>
            <th>Sędzia</th>
            <th>Tempo gry</th>
        </tr>
        {% for title in titles %}
            <tr>
                <td>{{ title.name }}</td>
                <td>{{ title.obtain|date:"d-m-Y" }}</td>
                <td>{{ title.tournament }}</td>
                <td>{{ title.tournament.judge }}</td>
                <td>{{ title.tournament.game_rate }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}


<p style="font-size: 24px; padding-top: 20px;">Turnieje użytkownika</p>
<p>Planowane</p>
{% for tournament in active_tournaments %}
    {% if tournament.tournament.status == "coming soon" %}
        <p><a href="{% url 'detail_tournament' tournament.tournament.id %}">{{ tournament.tournament }}</a></p>
    {% endif %}
{% endfor %}

<p>W trakcie</p>
{% for tournament in active_tournaments %}
    {% if tournament.tournament.status == "ongoing" %}
        <p><a href="{% url 'detail_tournament' tournament.tournament.id %}">{{ tournament.tournament }}</a></p>
    {% endif %}
{% endfor %}

<p>Ukończone</p>
{% for tournament in active_tournaments %}
    {% if tournament.tournament.status == "ended" %}
        <p><a href="{% url 'detail_tournament' tournament.tournament.id %}">{{ tournament.tournament }}</a></p>
    {% endif %}
{% endfor %}

{% endblock content %}