{% extends 'base.html' %}


{% block content %}
<p class="a">Profil użytkownika</p>

<p class="inline">{{ account }}</p>
{% if account.get_title %}
    <p class="chess-title inline">{{ account.get_title }}</p>
{% endif %}




<hr style="width: 30%; text-align: left; margin-left: 0; height: 2px; color: #9e9e9e; background-color: #9e9e9e;">

<p>
    <i class="fa fa-map-marker"></i>
    {{ account.province }}
</p>

<div class="info-block1">
    <p style="font-size: 24px; padding-top: 20px;">Ranking PZSzach</p>
    <table id="tournaments">
        <tr>
            <th>Aktualny ranking</th>
            <td>{{ account.get_rating }}</td>
        </tr>

        <tr>
            <th>Następny próg punktowy</th>
            <td>{{ account.next_threshold }}</td>
        </tr>

        <tr>
            <th>Następna kategoria</th>
            <td>{{ account.next_title }}</td>
        </tr>
    </table>


    <p style="font-size: 24px; padding-top: 20px;">Ranking FIDE</p>
    <table>
        <tr style="text-align: center;">
            <th style="width: 120px;">ID FIDE</th>
            <th style="width: 50px;">Klasyczne</th>
            <th style="width: 100px;">Szybkie</th>
            <th style="width: 120px;">Błyskawiczne</th>
        </tr>

        <tr style="text-align: center;">
            <td>{{ account.fiderating.fide_number|default_if_none:"" }}</td>
            <td>{{ account.fiderating.classic }}</td>
            <td>{{ account.fiderating.rapid }}</td>
            <td>{{ account.fiderating.blitz }}</td>
        </tr>
    </table>
</div>

{% if fide_history %}
    <div class="info-block1">
        <p class="b" style="text-align: center;">Wykres rankingu FIDE</p>

        <select id="ratings_name">
            <option value="std">Szachy klasyczne</option>
            <option value="rapid">Szachy szybkie</option>
            <option value="blitz">Szachy błyskawiczne</option>
        </select>

        <div style="width: 550px; height: 300px;">
          <canvas id="fide-rating-chart"></canvas>
        </div>
    </div>
{% endif %}

<p>Planowane</p>
{% for tournament in active_tournaments %}
    {% if tournament.tournament.status == "coming soon" %}
        <p><a href="{% url 'detail_tournament' tournament.tournament.id %}">{{ tournament.tournament }}</a></p>
    {% endif %}
{% endfor %}

<p>W trakcie</p>
{% for tournament in active_tournaments %}
    {% if tournament.tournament.status == "ongoing" %}
        <p><a href="{% url 'detail_tournament' tournament.tournament.id %}">{{ tournament.tournament }}</a></p>
    {% endif %}
{% endfor %}

<p>Ukończone (5 ostatnich)</p>
{% for tournament in history %}
    <p><a href="{% url 'detail_tournament' tournament.tournament.id %}">{{ tournament.tournament }}</a></p>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  var type = 1;
  var arr = [];
  var name = 'Szachy klasyczne'

  {% for x in fide_history %}
        arr.push( {{ x.classic }} );
    {% endfor %}

  const data = {
    labels: [{% for x in fide_history %} '{{ x.period }}', {% endfor %}],

    datasets: [
        {
          label: name,
          backgroundColor: 'rgb(100, 100, 255)',
          borderColor: 'rgb(100, 100, 255)',
          data: arr,
        },
    ]
    };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };
</script>

<script>
  const myChart = new Chart(
    document.getElementById('fide-rating-chart'),
    config
  );

  const ratings_name = document.getElementById('ratings_name');
  ratings_name.addEventListener('change', chooseType);

  function chooseType() {
    arr = [];
    console.log(ratings_name.value);
    if ( ratings_name.value == 'std' ) {
        {% for x in fide_history %}
            arr.push( {{ x.classic }} );
            name = 'Szachy klasyczne';
        {% endfor %}
    }
    if ( ratings_name.value == 'rapid' ) {
        {% for x in fide_history %}
            arr.push( {{ x.rapid }} );
            name = 'Szachy szybkie';
        {% endfor %}
    }
    if ( ratings_name.value == 'blitz' ) {
        {% for x in fide_history %}
            arr.push( {{ x.blitz }} );
            name = 'Szachy błyskawiczne';
        {% endfor %}
    }

    myChart.data.datasets[0].data = arr;
    myChart.data.datasets[0].label = name;
    myChart.update();
  }
</script>

{% endblock content %}

