{% extends 'base_tournament.html' %}


{% block description %}
<p>Zgłoszenia</p>
{% endblock description %}

{% block content %}
{% if not has_application and tournament.judge.id != user.id and not is_member %}
    <form method="get" action="{% url 'create_tournament_application' tournament.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Zapisz się</button>
    </form>
{% endif %}

{% if user.id == tournament.judge.id %}
    <form method="get" class="form-inline" action="{% url 'create_tournament_members' tournament.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Dodaj wszystkich</button>
    </form>
{% endif %}

<div class="list-display">
    <div>Numer</div>
    <div>Kraj</div>
    <div>Imię Nazwisko</div>
    <div>Klub/miasto</div>
    <div>Kategoria</div>
    <div>FIDE</div>
    <div>PZSzach</div>
    <div class="row-border"></div>
    {% for application in applications %}
        <div>{{ forloop.counter }}</div>
        <div>{{ application.person.country }}</div>
        <div>{{ application.person }}</div>
        <div></div>
        <div>{{ application.person.category }}</div>
        <div>
            {% if tournament.game_type == "classic" %}
                {{ application.person.fide.classic }}
            {% elif tournament.game_type == "rapid" %}
                {{ application.person.fide.rapid }}
            {% else %}
                {{ application.person.fide.blitz }}
            {% endif %}
        </div>
        <div>{{ application.person.get_polish_rating }}</div>
        {% if tournament.judge.id == user.id %}
            <form method="get" action="{% url 'create_tournament_member' application_id=application.id %}">
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
            </form>
            <form method="post" action="{% url 'delete_tournament_application' application.id %}">
                <button type="submit" class="btn btn-danger"><i class="fa fa-minus"></i></button>
            </form>
        {% endif %}
        <div class="row-border"></div>
    {% endfor %}
</div>
{% endblock content %}