{% extends 'base.html' %}


{% block content %}
<a href="{% url 'detail_tournament_application' tournament.id %}">Zgłoszenia do turnieju</a> <br>
<a href="{% url 'tournament_members' tournament.id %}">Lista startowa</a> <br>

{% for round in rounds %}
    <a href="{% url 'detail_round' tournament.id round.id %}">Runda {{ round.round }}</a>
{% endfor %}

{% if is_member %}
    {% for i in is_member %}
        <form method="get" action="{% url 'leave_tournament' i.id %}">
           {% csrf_token %}
            <button class="button" id="red-button" type="sumbit">Opuść</button>
        </form>
    {% endfor %}
{% endif %}

<p style="font-size: 25px;">Informacje podstawowe</p>
<table id="tournaments">
    <tr>
        <th>Nazwa turnieju</th>
        <td>{{ tournament.name }}</td>
    </tr>

    <tr>
        <th>Data rozpoczęcia</th>
        <td>{{ tournament.start|date:"d-m-Y" }}</td>
    </tr>

    <tr>
        <th>Data zakończenia</th>
        <td>{{ tournament.end|date:"d-m-Y" }}</td>
    </tr>

    <tr>
        <th>Miejsce</th>
        <td>{{ tournament.address.city }}, ul. {{ tournament.address.street }} {{ tournament.address.house_number }}</td>
    </tr>

    <tr>
        <th>Tempo gry</th>
        <td>{{ tournament.game_rate }}</td>
    </tr>

    <tr>
        <th>Sędzia</th>
        <td>{{ tournament.judge }}</td>
    </tr>

    <tr>
        <th>Organizator</th>
        <td>{{ tournament.organizer }}</td>
    </tr>

    <tr>
        <th>Liczba rund</th>
        <td>{{ tournament.round_count }}</td>
    </tr>

    <tr>
        <th>System rozgrywek</th>
        <td>{{ tournament.game_system }}</td>
    </tr>
</table>

{% if tournament.judge.id == user.id %}
    <form method="get" action="{% url 'create_round' tournament.id %}">
       {% csrf_token %}
        <button class="button" id="green-button" type="sumbit">Generuj rundę</button>
    </form>

    <div class="inner">
        <form action="{% url 'update_tournament' tournament.id %}" method="get">
            {% csrf_token %}
            <button type="submit" class="button" id="blue-button">Aktualizuj turniej</button>
        </form>
    </div>

    <div class="inner">
        <form action="{% url 'delete_tournament' tournament.id %}" method="get">
            {% csrf_token %}
            <button type="submit" class="button" id="red-button">Usuń turniej</button>
        </form>
    </div>
{% endif %}





{% endblock content %}