{% extends 'base.html' %}


{% block content %}
<form action="{% url 'create_tournament' %}" method="get">
    <button type="submit" class="btn btn-primary">Nowy turniej</button>
</form>

{% if object_list %}
    <table id="tournaments">
        <tr>
            <th>Termin</th>
            <th>Nazwa</th>
            <th>Adres</th>
            <th>Rodzaj</th>
            <th>Turniej FIDE</th>
        </tr>
        {% for tournament in object_list %}
            <tr>
                <td style="padding-bottom: 0px;">
                    <p style="color: {{ tournament.color_status }}; line-height: 0.5;">{{ tournament.start|date:"d-m-Y" }}</p>
                    <p style="color: {{ tournament.color_status }}; line-height: 0.5; font-size: 12px;">{{ tournament.end|date:"d-m-Y" }}</p>
                </td>
                <td><a href="{% url 'detail_tournament' tournament.id %}">{{ tournament.name }}</a></td>
                <td>{{ tournament.address.province }}, {{ tournament.address.city }}</td>
                <td>{{ tournament.game_type }}</td>
                <td>{{ tournament.is_fide|yesno:"FIDE, " }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}
