{% extends 'base_tournament.html' %}


{% block description %}
<p>Punktacja</p>
{% endblock description %}

{% block content %}
<table id="tournaments">
    <tr>
        <th>Nr</th>
        <th>Tytuł</th>
        <th>Imię Nazwisko</th>
        <th>Państwo</th>
        <th>FIDE</th>
        <th>Ranking</th>
        <th>Klub</th>
        <th>Data ur.</th>
        <th>Punkty</th>
    </tr>
    {% for member in members %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ member.person.get_category }}</td>
            <td><a href="{% url 'tournament_profile' tournament.id member.person.id %}">{{ member.person }}</a></td>
            <td>{{ member.person.country }}</td>
            <td>
                {% if tournament.game_type == "classic" %}
                    {{ member.person.fide.classic }}
                {% elif tournament.game_type == "rapid" %}
                    {{ member.person.fide.rapid }}
                {% else %}
                    {{ member.person.fide.blitz }}
                {% endif %}
            </td>
            <td>{{ member.person.get_polish_rating }}</td>
            <td>{{ member.club }}</td>
            <td>{{ member.person.born_year }}</td>
            <td>{{ member.points }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}