{% extends 'base.html' %}


{% block content %}
<h1>Runda {{ round_number }}</h1>
{% if matches %}
    <table id="tournaments">
        <tr>
            <th>Szachownica</th>
            <th>Białe</th>
            <th>Wynik</th>
            <th>Czarne</th>
        </tr>
            {% for match in matches %}
                <tr>
                    <td>{{ match.chessboard }}</td>
                    <td>{{ match.white }}</td>
                    <td>
                        {{ match.white_result }} - {{ match.black_result }}
                    </td>
                    <td>{{ match.black }}</td>
                    <td>
                        <form action="{% url 'update_match' match.round.tournament.id match.id %}" method="get">
                            {% csrf_token %}
                            {{ form }}
                            <button class="button" id="green-button" type="submit">Wpisz wynik</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
    </table>
{% endif %}
{% endblock content %}
