{% extends 'base.html' %}


{% block content %}
<h1>Profil użytkownika</h1>
<p>ID: {{ user.id }}</p>
<p>Imię: {{ user.name }}</p>
<p>Nazwisko: {{ user.lastname }}</p>
<p>Email: {{ user.email }}</p>
<p>Płeć: {{ user.gender }}</p>
<p>Rok urodzenia: {{ user.born_year }}</p>
<p>Kraj: {{ user.country }}</p>
<p>Miasto: {{ user.city }}</p>
{% if user.club %}
    <p>Klub: {{ user.club }}</p>
{% endif %}

Kategoria: {{ best_title.name }}

<h1>Lista turniejów użytkownika</h1>
{% if active_tournaments %}
    {% for tournament in active_tournaments %}
        <p>{{ tournament.tournament }}</p>
    {% endfor %}
{% endif %}


<h1>Lista tytułów szachowych</h1>
{% if titles %}
    <table>
        <tr>
            <th>Kategoria</th>
            <th>Data zdobycia</th>
            <th>Turniej</th>
            <th>Sędzia</th>
            <th>Tempo gry</th>
        </tr>
        {% for title in titles %}
            <tr>
                <td>{{ title.name }}</td>
                <td>{{ title.obtain|date:"d-m-Y" }}</td>
                <td>{{ title.tournament }}</td>
                <td>{{ title.tournament.judge }}</td>
                <td>{{ title.tournament.game_rate }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}


{% endblock content %}