{% extends 'base.html' %}


{% block content %}
<p class="a">{{ club.name }}</p>
<p>Klub</p>

{% if is_member %}
    <form method="post" action="{% url 'clubs_member_leave' club.id user.id %}">
        {% csrf_token %}
        <button class="btn btn-danger confirm-delete">Opuść</button>
    </form>
{% endif %}

<div>
    <a href="{% url 'detail_club_application' club.id %}">Zgłoszenie do klubu</a>
</div>

<p class="b">Kontakt</p>
<p class="c">
    <i class="fa fa-map-marker"></i>
    {{ club.place }}
</p>
<p>
    <i class="fa fa-envelope"></i>
    {{ club.email }}
</p>

<p class="b">Menadżer</p>
<p>{{ club.manager }}</p>

<p class="b">Data założenia</p>
<p>{{ club.registration|date:"d.m.Y" }}</p>

<p class="a">Członkowie klubu</p>

<div class="list-display">
    <div>Numer</div>
    <div>Imię Nazwisko</div>
    <div>WZSzach</div>
    <div>Kategoria</div>
    <div>FIDE</div>

    <div class="row-border"></div>
    {% for member in members %}
        <div>{{ forloop.counter }}</div>
        <div>{{ member }}</div>
        <div>{{ member.province }}</div>
        <div>{{ member.get_title }}</div>
        <div>{{ member.fiderating.classic }}</div>
        <div class="row-border"></div>
    {% endfor %}
</div>

{% if user.is_instructor %}
    {% if user.id == club.manager.id %}
        <form action="{% url 'update_club' club.id %}" method="get">
            <button type="submit" class="btn btn-primary">Edycja klubu</button>
        </form>

        <form action="{% url 'delete_club' club.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger confirm-delete-club">Usuń klub</button>
        </form>
    {% endif %}
{% endif %}

<script>
    $(document).on('click', '.confirm-delete', function(){
        return confirm("Czy na pewno chcesz opuścić klub");
    })

    $(document).on('click', '.confirm-delete-club', function(){
        return confirm("Czy na pewno chcesz usunąć klub");
    })
</script>
{% endblock content %}