{% extends 'base.html' %}


{% block content %}
<p class="a">Kluby szachowe</p>

{% if user.is_instructor %}
    <div style="margin-bottom: 20px;">
        <form style="display: inline;" action="{% url 'create_club' %}" method="get">
            <button type="submit" class="btn btn-primary">Nowy klub</button>
        </form>
    </div>
{% endif %}

{% if object_list %}
    <table id="tournaments">
        <tr>
            <th>Nazwa</th>
            <th>Miejsce</th>
            <th>Menadżer</th>
        </tr>
        {% for club in object_list %}

            <tr>
                <td style="width: 300px;"><a href="/clubs/{{ club.id }}/">{{ club.name }}</a><br>{{ club.count_members }} członków</td>
                <td>{{ club.get_province }}, {{ club.get_city }}</td>
                <td style="width: 200px;">{{ club.manager }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock content %}