{% extends 'base.html' %}


{% block content %}
<a href="/clubs/{{ club.id }}/application">Zgłoszenie do klubu</a> <br>

{% if is_member %}
    {% for i in is_member %}
        <form method="post" action="{% url 'leave_club' i.id %}">
           {% csrf_token %}
            <button class="button" id="red-button" type="sumbit">Opuść</button>
        </form>
        <form method="post" action="{% url 'leave_club2' i.id %}">
           {% csrf_token %}
            <button class="button" id="red-button" type="sumbit">Opuść2</button>
        </form>
    {% endfor %}
{% endif %}

<p class="a">{{ club.name }}</p>
<p>Klub</p>

<p class="b">Kontakt</p>
<p class="c">
    <i class="fa fa-map-marker"></i>
    {{ club.address.city }}, ul. {{ club.address.street }}
</p>
<p>{{ club.email }}</p>

<p class="b">Menadżer</p>
<p>{{ club.manager }}</p>

<p class="b">Data rejestracji</p>
<p>{{ club.registration|date:"d.m.Y" }}</p>

<p class="a">Członkowie klubu</p>

{% for member in members %}
    <p>{{ member.person }}</p>
{% endfor %}

<form action="{% url 'update_club' club.id %}" method="get">
    <button type="submit" class="btn btn-primary">Edycja klubu</button>
</form>

<form action="{% url 'delete_club' club.id %}" method="get">
    <button type="submit" class="btn btn-danger">Usuń klub</button>
</form>
{% endblock content %}