{% extends 'base.html' %}


{% block content %}

{% if is_member %}
    {% for i in is_member %}
        <form method="post" action="{% url 'leave_club' i.id %}">
           {% csrf_token %}
            <button class="button" id="red-button" type="sumbit">Opuść</button>
        </form>
        <form method="post" action="{% url 'leave_club2' i.id %}">
           {% csrf_token %}
            <button class="button" id="red-button" type="sumbit">Opuść2</button>
        </form>
    {% endfor %}
{% else %}
    <form method="get" action="{% url 'join_club' club.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button class="button" id="green-button" type="sumbit">Dołącz</button>
    </form>
{% endif %}



<h1>Informacje podstawowe</h1>
<p>Nazwa: {{ club.name }} <br>
Kontakt: {{ club.email }} <br>
Województwo: {{ club.address.province }} <br>
Miasto: {{ club.address.city }} <br>
Ulica: {{ club.address.street }}, {{ club.address.house_number }} <br>
Menadżer: {{ club.manager }} <br>
Data rejestracji: {{ club.registration|date:"d-m-Y" }} <br>
</p>

<h1>Członkowie klubu</h1>
{% for member in members %}
<p>{{ member.person }}</p>
{% endfor %}


<div class="inner">
    <form action="{% url 'update_club' club.id %}" method="get">
        {% csrf_token %}
        <button type="submit" class="button" id="blue-button">Aktualizuj klub</button>
    </form>
</div>

<div class="inner">
    <form action="{% url 'delete_club' club.id %}" method="get">
        {% csrf_token %}
        <button type="submit" class="button" id="red-button">Usuń klub</button>
    </form>
</div>

{% endblock content %}