{% extends 'base.html' %}


{% block content %}

<p class="a">Witaj na stronie domowej aplikacji Match Endgame</p>

<div style="margin-bottom: 50px;"></div>

<p class="b">Nawigacja między funkcjonalnościami znajduje się w prawym górnym rogu:</p>
<ol>
    <li><p class="c">Zakładka "Turnieje" zawiera spis turniejów szachowych. Zapraszamy do zapisywania się</p></li>
    <li><p class="c">"Kluby" umożliwiają dołączenie do klubów szachowych. Warunkiem dołączenia jest akceptacja przez menadżera klubu</p></li>
    <li><p class="c">W zakładce "Profil" znajdziesz informację o swoim koncie. Żeby wyświetlić listę wszystkich użytkowników przejdź do zakładki "Użytkownicy"</p></li>
</ol>


{% endblock %}
